lib/services/breez_server/protobuf/breez.proto
.DS_Store
.atom/
.dart_tool/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins
/conf/
/android/app/src/pos/google-services.json
/android/app/src/client/google-services.json
lib/services/breezlib/rpc.proto
/android/app/libs/breez.aar
pubspec.lock
ios/Runner.xcworkspace/xcshareddata/
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/
ios/Runner/GoogleService-Info.plist
