lib/services/breez_server/protobuf/breez.proto
lib/services/breezlib/protobuf/messages.proto
.DS_Store
.atom/
.dart_tool/
.idea
.vscode/
.packages
.pub/
build/
packages
.flutter-plugins
.flutter-plugins-dependencies
conf/
/android/app/src/pos/google-services.json
/android/app/src/client/google-services.json
/android/app/libs/breez.aar
ios/Runner/GoogleService-Info.plist
ios/bindings.framework/*
ios/bindings.xcframework/*
travis/config.sh
android/key.properties
ios/Flutter/flutter_export_environment.sh
manual-build/
ios/.symlinks/
coverage/
untranslated_messages.txt
ios/Flutter/Flutter.podspec
