lib/services/breez_server/protobuf/breez.proto
.DS_Store
.atom/
.dart_tool/
.idea
.vscode/
.packages
.pub/
build/
packages
.flutter-plugins
.flutter-plugins-dependencies
/conf/testnet
/conf/simnet
/conf/mainnet
/conf/local
/conf/staging
/android/app/src/pos/google-services.json
/android/app/src/client/google-services.json
lib/services/breezlib/rpc.proto
/android/app/libs/breez.aar
pubspec.lock
ios/Runner/GoogleService-Info.plist
ios/bindings.framework/*
travis/config.sh
android/key.properties
ios/Flutter/flutter_export_environment.sh
manual-build/
ios/.symlinks/
